.side-chat
  .side-chat__header
    .side-chat__header__block
      .side-chat__header__block__left しろくま
      .side-chat__header__block__right
        = link_to '#', class: "side-chat__header__block__right--btn1" do
          = icon('fas fa-cog', class: "side-chat__header__block__right--btn1")
        = link_to '#', class: "side-chat__header__block__right--btn2" do
          = icon('fas fa-edit', class: "side-chat__header__block__right--btn2")
  .side-chat__groups 
    .side-chat__groups__group
      .side-chat__groups__group--name
        white-bear
      .side-chat__groups__group--message
        おはよ〜
    .side-chat__groups__group
      .side-chat__groups__group--name
        G-shiro3
      .side-chat__groups__group--message
        こんにちは

  




  

