.main-chat {
  background-color: $back_color;
  height: 100%;
  width: calc(100vw - 300px);
  float: left;
  &__header {
    background-color: $back_color;
    height: 100px;
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    &__left {
      margin-top: 40px;
      &--group {
        padding-bottom: 15px;
        font-size: 20px;
      }
      &--member {
        font-size: 12px;
        color: $small_font_color;
      }
    }
    &__right--btn {
      height: 40px;
      text-decoration: none;
      color: $btn_color;
      font-size: 16px;      
      line-height: 40px;
      margin-top: 28px;     
      a {
        border: 1px solid $btn_color;
        padding: 12px 20px;
      }
    }
  }

  &__messages {
    background-color: #eeeeee;
    height: calc(100vh - 190px);
    padding-top: 35px;
    padding-left: 40px;
    overflow: scroll;
    &__message {
      padding-bottom: 40px;
    }
      &__message__info {
        display: flex;
        justify-content: left;
        margin-bottom: 12px;        
        &--talker {
          color: #333333;
          font-weight: bold;
        }
        &--created_at {
          font-size: 12px;
          color: $small_font_color;
          margin-left: 10px;
        }
      }
      &__message--chat {
          color: #434A54;
          font-size: 14px;
          margin-bottom: 10px;
          position: relative;
      }
    }
  &__form {
    padding: 20px 40px;
    height: 90px;
    background-color: $light_gray;
    width: 100%;
    &__new-messages {
      display: flex;
      height: 100%;
      width: 100%;
      .new_message{
        width: 100%;
      }
      &__message-box {
        width: 100%;
        display: flex;
        position: relative;
      
        &__input-text {
          width: 100%;
          padding: 0 40px 0 10px;
          height: 50px;
          border-style: none;
        }
        &__input-image{
          font-size: 1.3rem;
          position: absolute;
          top: 14px;
          right: 120px;
          cursor: pointer;
          input {
            display: none;
          }
        }
      }
      &__form__btn {
        background-color: $btn_color;
        height: 50px;
        width: 100px;
        margin-left: 15px;
        padding-left: 30px;
        padding-right: 30px;
        color: #eeeeee;
        cursor: pointer;
      }
    }
  }
}