.side-chat {
  width: 300px;
  float: left;
  &__header {
    background-color: #253141;
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    padding: 0 20px;
      &__block {
        height: 20px;
        width: 260px;
        display: flex;
        justify-content: space-between;
        line-height: 20px;      
        &__left {
          color: $font_color;
          font-weight: bold;;
        }
        &__right {
          height: 20px;
          a {
            color: $font_color;
            // margin-left: 5px;
            text-decoration: none;
          }
        }
      }
  }
  
  &__groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    width: 300px;
    font-weight: bold;
    padding: 20px;
    &__group {
      padding-bottom: 40px;
      a {
        text-decoration: none;
      }
      .group--name {
        color: $font_color;
        font-size: 15px;
        margin-bottom: 5px;
      }
      .group--message {
        color: $font_color;
        font-size: 11px;
      }
    }
  }
}